body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(150deg, #6c3483, #58D68D);
    height: 100vh;
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid white;
}

.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px; /* antes 400px */
    background: white;
    border-radius: 10px;
}

.campo {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 28px 0;
}

.campo input,
.campo select {
    width: 100%;
    padding: 8px 5px;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
}

.campo label {
    position: absolute;
    top: -12px;
    left: 0;
    font-size: 14px;
    color: #777;
}

.terminos-y-condiciones {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin: 20px 0;
}

.terminos-y-condiciones a {
    color: #6c3483;
    text-decoration: none;
}

.terminos-y-condiciones a:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #6c3483;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    margin-bottom: 25px;
}

.iniciar-sesion {
    text-align: center;
    font-size: 16px;
    color: black;
    margin-bottom: 25px;
}

.iniciar-sesion a {
    color: #1a73e8;
    text-decoration: none;
    font-weight: bold;
}

.iniciar-sesion a:hover {
    text-decoration: underline;
}
