body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(150deg, #6c3483, #58D68D);
    height: 100vh;
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid white;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
    text-align: center;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #c3e6cb;
    text-align: center;
}

.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

.campo {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 28px 0;
}

.campo input {
    width: 100%;
    padding: 8px 5px;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
}

.campo label {
    position: absolute;
    top: -12px;
    left: 0;
    font-size: 14px;
    color: #777;
}

.recordar {
    margin: -5px 0 20px 5px;
    cursor: pointer;
}

.recordar a {
    color: blue;
    text-decoration: none;
}

.recordar a:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #6c3483;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: purple;
    transition: .5s;
}

.registrarse {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.registrarse a {
    color: blue;
    text-decoration: none;
}

.registrarse a:hover {
    text-decoration: underline;
}